@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 400;
  src: 
    url(Raleway-Regular.woff) format('woff'),
    url(Raleway-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-weight: 800;
  src: 
    url(Raleway-ExtraBold.woff) format('woff'),
    url(Raleway-ExtraBold.woff2) format('woff2');
}